# .NET build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Build logs
*.log

# Others
*.DS_Store
*.vs/

out/
.log
*.db